{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'blox.css' %}"/>
<link rel="stylesheet" href="{% static 'start.css' %}"/>
<link rel="stylesheet" href="{% static 'reg.css' %}"/>
<link rel="stylesheet" href="{% static 'main.css' %}"/>

<style>
{% block styles %}
{% endblock %}
</style>
  

  </head>

<body>
  
  <div class="container header Title text-center">

<h1>Lazy Developer Project Name Generator</h1>
    
  </div>
  
  <div class="container text-center">
{% block content %}
{% endblock %}
    </div>

<div class="container">
	<footer>
		<p>
			{% if "/faq" not in request.path %}<a class="faq" href="/faq">FAQ</a>{% endif %}
			{% if "/info" not in request.path %}<a class="info" href="/info">info</a>{% endif %}
			{% if request.path != "/" %}<a class="home" href="/">back to the generator</a> {% endif %}
		</p>
		<br>
		<p>
			Built by <a class="foot" href="https://tacobelllabs.net/@robotmlg">Matt</a> &amp; Rae Goldman
		</p>
		<p>
			<a class="git" href="https://github.com/robotmlg/help-me-name-my-project">Contribute on GitHub</a>
		</p>
	</footer>
	</div>
	</body>
</html>
