{% load static %}
<!DOCTYPE html>
<html>

<head>
  
<link rel="stylesheet" href="{% static 'main.css' %}"/>
<link rel="stylesheet" href="{% static 'pixels.css' %}"/>
<link rel="stylesheet" href="{% static 'start.css' %}"/>
<link rel="stylesheet" href="{% static 'reg.css' %}"/>

  </head>

<body>
  
  <div class="header">

  <div class="Title">
  
    <h1>Lazy Developer Project Name Generator</h1>

  </div>
    
  </div>
  
  <section>
    
    <div class="Reload">

{{ name }}

  
 <br>

      
    </div>


<button class="button">
  <a href="/">Generate!</a>
    </button>
    
    </section>

</body>
</html>
