/* title area */

.header {

  padding: 60px;
  text-align: center;
  border-bottom: 1px, #0000, solid; 


.title {
	
h1 {
	font-family: ‘start; 
	font-size: 40px;
	color: #ff0061;
	text-align: center;
}

}
	
}



.reload {

	font-family: ‘reg’; 
	font-size: 38px;
	text-align: center;

}

.button { 
	
	h2 {
font-size: 36px;
color: #0087;
} 

	padding: 50px 75px 10px 10px;
	margin: 10px 10px 10px 10px;
	background-color: #ffc500; 
	position: relative; 
	display: inline;
	margin: auto; 
	left: 50%; 
	right: 50%;
	transition-duration: 0.4s;
} 

.button:hover {
  background-color: #0087;
  color: #ffc500;
}
