@font-face {
  font-family: Rubik_Pixels;
  src: url(/static/fonts/RubikPixels-Regular.ttf);
}

@font-face {
  Font-family: Press_Start;
  src: url(/static/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  Font-family: Cantarell_Regular;
  src: url(/static/fonts/Cantarell-Regular.ttf);
}

Body {
	
	margin: 30px 30px 30px 30px;
	background-color: #FDFCFC;
	
}

.Title {
	
h1 {
	font-family: Press_Start; 
	font-size: 40px;
	color: #ff0061;
	text-align: center;
}
	
}

.Reload {

p {
	font-family: Cantarell_Regular; 
	font-size: 38px;
	text-align: center;
}
}

.button { 
	font-family: Rubik_Pixels;
	font-size: 36px;
	padding: 50px 75px 10px 10px;
	margin: 10px 10px 10px 10px;
	background-color:; 
	color: #0087;
	position: relative; 
	display: inline;
	margin: auto; 
	left: 50%; 
	right: 50%;
	transition-duration: 0.4s;
} 

.button:hover {
  background-color: #0087;
  color: #ffc500;
}
