/* title area */

.header {

  padding: 60px;
  text-align: center;

.title {
	
h1 
{
	text-align: center;
}

}
	
}

/* copy area */ 

.maincopy {
 
  padding-top: 60px;
  padding-bottom: 160px;
  text-align: center;

.reload 
{

	  text-align: center;
	
}
	
}

	
